/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 700;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

/* Layout */

body {
  font-family: 'Asap', sans-serif;
  line-height: 1.65;
  max-width: 1440px;
  margin: 0 auto;
}

header,
section {
  padding: 1em;
}

@media all and (min-width: 600px) {
  header,
  section {
    max-width: 1880px;
    margin: 0 auto;
    padding: 4vw 8vw;
  }

  .video {
    padding-top: 0;
  }

  .gallery,
  .map {
    padding-bottom: 8vw;
  }
}

.iframe-holder {
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  overflow: hidden;
}

iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.3em;
}

@media all and (min-width: 600px) {
  h1 {
    font-size: 2em;
  }
}

h2 {
  font-size: 1.2em;
  margin-bottom: .5em;
}

.button {
  display: block;
  text-align: center;
  background: blue;
  text-decoration: none;
  color: white;
  padding: .5em .8em;
  margin: 1em 0;
  border-radius: 3px;
}

/* Header */

.top {
  padding-top: 8vw;
}

.top .button {
  margin: .5em 0;
}

@media all and (min-width: 600px) {

  .top {
    overflow: hidden;
  }

  .top h1 {
    display: inline-block;
  }

  .top .button {
    display: inline-block;
    float: right;
  }
}

/* Gallery */

.gallery ul {
  overflow: hidden;
}

.gallery li {
  line-height: 0;
  float: left;
  width: 50%;
}

@media all and (min-width: 600px) {
  .gallery li {
    width: 33.333%;
  }
}

@media all and (min-width: 900px) {
  .gallery li {
    width: 20%;
  }
}

/* Actions */

.actions {
  padding-top: 8vw;
}

.actions-list {
  overflow: hidden;
}

.actions-list > li {
  margin-bottom: 2em;
}

@media all and (min-width: 600px) {
  .actions-list > li {
    float: left;
    width: 50%;
    padding-right: 2em;
  }

  .actions-list > .buttons {
    padding-right: 0;
  }
}

@media all and (min-width: 900px) {
  .actions-list > li {
    width: 25%;
    margin-bottom: 0;
  }
}

/* Footer */

.actions,
.map {
  background: #f2f2f2;
}
